{% extends "base.html" %}
 {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>JaiTun Restaurant</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    {% block content %}

    <div class="container text-center align-middle">
      <div class="row">
        <div class="col">
          <img
            class="mt-2 p-4 rounded"
            src="{% static 'home.jpg'  %}"
            alt="food banner"
          />
        </div>
        <div class="col align-middle">
          <p class="fw-bold mt-5 p-5 text-center text-lg-start">
            Welcome to
            <span class="text-danger align-center"> Jaitun Restaurant </span>,
            where every dish tells a story and every bite is an experience. Our
            restaurant's ambiance is a perfect balance of modern sophistication
            and cultural richness. Whether you're planning a romantic dinner for
            two, a family celebration, or a business gathering.<br />
            <span class="text-danger fs-5 italic align-middle"
              >JaiTun Restaurant
            </span>
             Where Every Meal Tells a Story.
          </p>
        </div>
      </div>
    </div>

    {%endblock%} 
    
 

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
